* {}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

a:active {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
/* Portrait layout (default) */
.app {margin-bottom: 80px;display: none;}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

.aright {text-align:right}
.aleft {text-align:left}
.acenter {text-align:center}

footer {background: rgba(250, 250, 250, 0.9);border-top: 1px solid #9b9b9b;padding-top:10px;}
footer .col-3 {float:left;text-align:center;}
footer .col-3 a {color:#9b9b9b; font-size: 10px;}
footer .col-3.active a {color:#0076ff;}


#index {text-align:center;background-color:#00bcb4;}
#index #logo {margin-top:20%;}
#index input[type="text"]{border:1px solid #01e5db;line-height:40px;width:80%;margin:0 auto;}
#index input[type="password"]{border:1px solid #01e5db;line-height:40px;width:80%;margin:0 auto;}
.btn-info {background: #01e5db;border-color:#01e5db;margin-top: 20px;border-radius:40px;padding:10px 40px;}
.btn-danger {margin-top: 20px;border-radius:40px;padding:10px 40px;}

#home {text-align:center;padding-top:5%;}
#home h2 {text-align:left; margin-top:40px;}


#play {text-align:center;}
#play #logo {margin-top:20%;}
#play p {font-size: 32px;color:#494949;}
#play p {font-size: 17px;color:#9b9b9b;}
#play input[type="text"]{line-height:40px;width:80%;margin:0 auto 20px;margin-top: 40px;}
.btn-secondary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}
.btn-primary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}
#play svg {width:15px; height: auto;}
#nearme {color: #0076ff;}
#nearme.disabled {color: #9b9b9b;}
#nearme.disabled .cls-1 {stroke: #9b9b9b;}


#condiciones {text-align:center;padding-top:10%;}
#condiciones select {max-width:80%;margin: 20px auto;}
#condiciones h3 {color:#9b9b9b;font-size:19px;font-weight:100;}
#condiciones span {color:#9b9b9b;font-size:19px;font-weight:100;max-width:80%;margin: 20px auto;display: none;border: 1px solid #9b9b9b;}
#condiciones .btn-info {margin-top: 40px;}



#holes {text-align:center;padding-top:5%;}
#holes h2 {text-align:left; margin-top:40px;}
#holes p.half {width:50%;float:left;text-align:left;font-size:14px;}
#holes p.shalf {width:45%;float:left;text-align:left;font-size:19px;font-weight:100;}
#input p.shalf {width:45%;float:left;text-align:left;font-size:19px;font-weight:100;}
#holes p.half span{color:#00bcb4;}
#holes .btn-info {margin-top: 40px;}
#cdata {padding-left:50px;margin: 20px 0;    float: left;}
#hdata {padding-left:50px;text-align:left;    float: left;}
.rndbtn {font-size: 24px;    border-radius: 60px;
    background: #fff;
    color: #cccccc;
    border: 1px solid #cccccc;
    font-weight: 100;
    width: 60px;
    height: 60px;
    margin: 8px;}
.rndbtn.selected {
	 background: #00bcb4;
    color: #ffffff;
    border: 1px solid #00bcb4;	
}
#pdata {text-align:left;margin-top: 40px;    float: left;}
.sqbtn {font-size: 22px;    border-radius: 10px;
    background: #fff;
    color: #cccccc;
    border: 1px solid #cccccc;
    font-weight: 100;
        width: 40px;
    height: 50px;
    margin: 3px;}
.sqbtn.selected {
	 background: #00bcb4;
    color: #ffffff;
    border: 1px solid #00bcb4;	
}

#input {font-size: 19px;font-weight: 100;}	
#input .pinfo{font-size: 12px;font-weight: 100;}	
#input .pinfo span {color:#00bcb4;}	

#input .btn-danger {padding:0;font-size:10px;width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;}
#input .btn-info {padding:0;font-size:10px;width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;}

#input .row {margin-top:20px; margin-bottom:40px;}
#input .sp {margin:0px!important; padding:0 5px!important;}
#input .wp {margin:0px!important; padding:0 15px!important;}
#input .disabled {opacity:0.2;}
.pdist {font-size: 12px;text-align:right;}
.pdist input{float:right;width:100%;vertical-align:middle;padding-left: 0;padding-right: 0;text-align:center;}


#ajustes {padding-top:10%;}
#ajustes .item {border-bottom:1px solid #e2e2e2;}
#ajustes .item-header {padding: 20px 10px;}
#ajustes .item-body {padding: 20px 10px;}
#ajustes .item-header a {font-size: 19px;font-weight:normal;color:#494949;}
#ajustes .item-header a span{float:right;color:#00bcb4;font-size: 24px;}
#ajustes .form-group label{font-size: 15px;}
#ajustes .form-group .btn{width: 100%;}
#ajustes .form-group input{display: none;}
#ajustes .form-group {    margin-bottom: 0;}
#ajustes .form-group .btn-info {
    background-color: #aec4c3;
    border-color: #aec4c3;
    margin-top: 0px;
    border-radius: 5px;
    padding: 10px auto;
}
#ajustes .form-group .btn-info.active {
    background-color: #01e5db;
    border-color: #01e5db;
}

#stats {padding-top:10%;}

#stats {padding-top:10%;}
#stats .pstat {display: none;}
#stats .item {border-bottom:1px solid #e2e2e2;}
#stats .item-header {padding: 10px 10px;}
#stats .col-6 .item-header {padding-left: 0;padding-right: 15px;}
#stats .item-body p {padding: 10px 10px;font-size:14px;margin-bottom:0;}
#stats .item-header a {font-size: 14px;font-weight:normal;color:#494949;}
#stats .item-header a.tour {font-size: 16px;font-weight:normal;color:#494949;}
#stats .item-header a span{float:right;color:#00bcb4;font-size: 20px;}
#stats .item-header a em{font-size:26px; color:#00bcb4;font-style:normal;}

#stats .item-body .col-6{font-size:14px; color:#494949;    padding: 10px 0 10px 40px;}
#stats .item-body .col-6 .item {border-bottom:0;}
#stats .item-body .col-12 a{font-size:14px; color:#494949;    padding: 10px 0 10px 16px;}
#stats .item-body .col-12 .item {border-bottom:0;}
#stats .item-body .col-6 span{font-size:26px; color:#00bcb4;padding-left:5px;}
#stats .item-body .col-12 span{font-size:18px; color:#00bcb4;float: right;}
#stats .item-body .col-6 span sup{font-size:14px; color:#00bcb4;}