* {}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {margin-bottom: 80px;display: none;}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

.aright {text-align:right}
.aleft {text-align:left}
.acenter {text-align:center}

footer {background: rgba(250, 250, 250, 0.9);border-top: 1px solid #9b9b9b;padding-top:10px;}
footer .col-3 {float:left;text-align:center;}
footer .col-3 a {color:#9b9b9b; font-size: 10px;}
footer .col-3.active a {color:#0076ff;}


#index {text-align:center;background-color:#00bcb4;}
#index #logo {margin-top:20%;}
#index input[type="text"]{border:1px solid #01e5db;line-height:40px;width:80%;margin:0 auto;}
#index input[type="password"]{border:1px solid #01e5db;line-height:40px;width:80%;margin:0 auto;}
.btn-info {background: #01e5db;border-color:#01e5db;margin-top: 20px;border-radius:40px;padding:10px 40px;}
.btn-danger {margin-top: 20px;border-radius:40px;padding:10px 40px;}

#home {text-align:center;padding-top:5%;}
#home h2 {text-align:left; margin-top:40px;}


#play {text-align:center;}
#play #logo {margin-top:20%;}
#play p {font-size: 32px;color:#494949;}
#play p {font-size: 17px;color:#9b9b9b;}
#play input[type="text"]{line-height:40px;width:80%;margin:0 auto;margin-top: 40px;}
.btn-secondary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}
.btn-primary {background: #d5d5d5;border-color:#d5d5d5;margin-top: 40px;border-radius:40px;padding:10px 40px;}

#condiciones {text-align:center;padding-top:10%;}
#condiciones select {max-width:80%;margin: 20px auto;}
#condiciones h3 {color:#9b9b9b;font-size:19px;font-weight:100;}
#condiciones span {color:#9b9b9b;font-size:19px;font-weight:100;max-width:80%;margin: 20px auto;display: block;}
#condiciones .btn-info {margin-top: 40px;}



#holes {text-align:center;padding-top:5%;}
#holes h2 {text-align:left; margin-top:40px;}
#holes p.half {width:50%;float:left;text-align:left;font-size:14px;}
#holes p.shalf {width:45%;float:left;text-align:left;font-size:19px;font-weight:100;}
#holes p.half span{color:#00bcb4;}
#holes .btn-info {margin-top: 40px;}
#cdata {padding-left:50px;margin: 20px 0;    float: left;}
#hdata {padding-left:50px;text-align:left;    float: left;}
.rndbtn {font-size: 24px;    border-radius: 60px;
    background: #fff;
    color: #cccccc;
    border: 1px solid #cccccc;
    font-weight: 100;
    width: 60px;
    height: 60px;
    margin: 8px;}
.rndbtn.selected {
	 background: #00bcb4;
    color: #ffffff;
    border: 1px solid #00bcb4;	
}
#pdata {padding-left:50px;text-align:left;margin-top: 40px;    float: left;}
.sqbtn {font-size: 22px;    border-radius: 10px;
    background: #fff;
    color: #cccccc;
    border: 1px solid #cccccc;
    font-weight: 100;
        width: 40px;
    height: 50px;
    margin: 3px;}
.sqbtn.selected {
	 background: #00bcb4;
    color: #ffffff;
    border: 1px solid #00bcb4;	
}

#input {font-size: 19px;font-weight: 100;}	
#input .pinfo{font-size: 12px;font-weight: 100;}	
#input .pinfo span {color:#00bcb4;}	


#input .row {margin-top:20px; margin-bottom:40px;}
#input .disabled {opacity:0.2;}
.pdist {font-size: 12px;text-align:right;}
.pdist input{float:right;width:40%;vertical-align:middle;padding-left: 0;padding-right: 0;}


#ajustes {padding-top:10%;}
#ajustes .item {border-bottom:1px solid #e2e2e2;}
#ajustes .item-header {padding: 20px 10px;}
#ajustes .item-body {padding: 20px 10px;}
#ajustes .item-header a {font-size: 19px;font-weight:normal;color:#494949;}
#ajustes .item-header a span{float:right;color:#00bcb4;font-size: 24px;}


#stats {padding-top:10%;}